<div>
    <div style="background-color:black;font-family: 'Montserrat', sans-serif">
      
       <div class="row">
       <h4 class="text-success col-2"><i class="fas fa-angle-left fa-lg" style="color: blanchedalmond;padding:13px"></i>7f Software</h4>
       <h6 class="text-success col-2" style="font-weight:bold; padding-top:13px;">Experiment Busisemo</h6>
       <div class="col-8">
         <div class="row text-success" style="font-weight: bold;">
          <p class="col-2" style="padding-top:15px">DATASETS</p>
          <p class="col-2" style="padding-top:15px">EXPERIMENTS</p>
          <p class="col-2" style="padding-top:15px">MLI</p>
          <p class="col-2" style="padding-top:15px">AUTOVIZ</p>
          <p class="col-2" style="padding-top:15px">DIAGNOSTICS</p>
          <p class="col-2" style="padding-top:15px">DEPLOYMENTS</p>
   
       </div>>
   
       </div>
        </div>
   </div>
   
   <div class="row" style="background-color: black">
   <div class="col-4" style="padding-left:22px">
     <p style="color:blanchedalmond">DATASET</p>
     <p style="font-size: 18px;color:" class="text-success">CreditCard.csv</p>
     <div class="row">
       <div class="col-3"><p style="font-size:8px;color: blanchedalmond">ROWS</p><p style="font-size: 18px;" class="text-success">6K</p></div>
       <div class="col-3"><p style="font-size:8px;color: blanchedalmond">COLUMNS</p><p style="font-size: 18px;" class="text-success">6K</p></div>
       <div class="col-3"><p style="font-size:8px;color:blanchedalmond">DROPPED COLS</p><p style="font-size: 18px;" class="text-success">--</p></div>
       <div class="col-3"><p style="font-size:8px;color:blanchedalmond">VALIDATION DATASET</p><p style="font-size: 18px;" class="text-success">--</p></div>
   
     </div>
   
   
   <div class="row" style="background-color:black">
     
      <div class="col-6"><p style="color:blanchedalmond;font-size:8px;">WEIGHT COLUMN</p><p style="font-size:18px" class="text-success">---</p></div>
      <div class="col-6"><p style="color:blanchedalmond;font-size:8px;">TIME COLUMN</p><p style="font-size:18px" class="text-success">[OFF]</p></div>
    
     </div>
   
   
     <div class="row" style="background-color:black">
        
          <div class="col-3"><p style="color:blanchedalmond;font-size:8px;">TYPE</p><p style="font-size:18px" class="text-success">bool</p></div>
          <div class="col-3"><p style="color:blanchedalmond;font-size:8px;">COUNT</p><p style="font-size:18px" class="text-success">6000</p></div>
          <div class="col-3"><p style="color:blanchedalmond;font-size:8px;">UNIQUE</p><p style="font-size:18px" class="text-success">2</p></div>
          <div class="col-3"><p style="color:blanchedalmond;font-size:8px;">TARGET FREQ</p><p style="font-size:18px" class="text-success">1266</p></div>
         
    </div>
   
   </div>
   
   
         <div class="col-4">
           <div class="row">
             <h6 class="text-success">SCORED 193/298 MODELS ON 1483 FEATURES</h6>
           </div>
           <div class="row">
               <div id="circle">
                   <div class="loader">
                     <div class="loader">
                         <div class="loader">
                            <div class="loader">
                               <div class="loader">
                                   <div class="loader">
                                       <div class="loader">
                                         </div>
                                     </div>
                                 </div>
                            </div>
                         </div>
                     </div>
                   </div>
                 </div> 
         </div>
   
         <p class="text-success col-6 d-flex justify-content-end" style="font-size:32px">77%</p>
   
       </div>
   
   <div class="col-4">
     <div class="row">
       <div col-3>
         <p class="text-success" style="font-size:15px;">EXPERIMENT SETTINGS</p>
       </div>
       <div class="col-1"></div>
       <div col-3>
           <p class="text-success" style="font-size:15px;">EXPERT SETTINGS</p>
         </div>
         <div class="col-1"></div>
   
         <div col-3>
             <p class="text-success" style="font-size:15px;">SCORER</p>
           </div>
           <div class="col-1"></div>
   
    
     </div>
     <div class="row">
       <div class="col-4">
         <div class="center">
             <svg class="progress black noselect" data-progress="65" x="0px" y="0px" viewBox="0 0 80 80">
               <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
               <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
               <text class="value" x="50%" y="55%">0%</text>
               <text class="text" x="50%" y="115%">Blue</text>
             </svg>
            
           </div>
       </div>
       <div class="col-4">
           <div class="center">
               <svg class="progress black noselect" data-progress="65" x="0px" y="0px" viewBox="0 0 80 80">
                 <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                 <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                 <text class="value" x="50%" y="55%">0%</text>
                 <text class="text" x="50%" y="115%">Blue</text>
               </svg>
              
             </div>
         </div>
         <div class="col-4">
             <div class="center">
                 <svg class="progress black noselect" data-progress="65" x="0px" y="0px" viewBox="0 0 80 80">
                   <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                   <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                   <text class="value" x="50%" y="55%">0%</text>
                   <text class="text" x="50%" y="115%">Blue</text>
                 </svg>
                
               </div>
           </div>
     </div>
     <div class="row">
       <div class="col-4">
       <button class="btn btn-success btn-sm" (click)="Start()">START</button>
       </div>
       <div class="col-4">
           <button class="btn btn-success btn-sm" (click)="Start()">START</button>
       </div>
       <div class="col-4">
           <button class="btn btn-success btn-sm" (click)="Start()">START</button>
       </div>
     </div>
     <div class="row">
       <div class="col-12">
   
       </div>
     </div>
     <div class="row">
        <h4 class="text-success" style="padding:13px">CPU :         ||||||||||||||||||||||||||||||</h4>
     </div>
     <div class="row">
         <h4 class="text-success" style="padding:13px">GPU :         ||||||||||||||||||||||||||||||||||||||||||||||||||||||||</h4>
      </div>
   
   </div>
       
       </div>
   
   <!-- SECOND ROW STARTS -->
   
       <div class="row" style="background-color: black">
           <div class="col-3">
                <div id="myDiv"></div>
           
                 </div>
           
              <div class="col-1"></div>
                 <div class="col-4">
                     <h4 class="white-text d-flex justify-content-center">COLUMNS :</h4>
                     <div class="list-group text-success table-wrapper-scroll-y" style="background-color:black">
                         <a href="#" class="list-group-item waves-light text-success d-flex justify-content-center" style="background:rgba(0, 0, 0, 0.5)" mdbWavesEffect>COLUMNS COLUMNS</a>
                         <a href="#" class="list-group-item waves-light text-success d-flex justify-content-center" style="background:rgba(0, 0, 0, 0.5)" mdbWavesEffect>COLUMNS COLUMNS</a>
                         <a href="#" class="list-group-item waves-light text-success d-flex justify-content-center" style="background:rgba(0, 0, 0, 0.5)" mdbWavesEffect>COLUMNS COLUMNS</a>
                         <a href="#" class="list-group-item waves-light text-success d-flex justify-content-center" style="background:rgba(0, 0, 0, 0.5)" mdbWavesEffect>COLUMNS COLUMNS</a>
                         <a href="#" class="list-group-item waves-light text-success d-flex justify-content-center" style="background:rgba(0,0,0,0.5)" mdbWavesEffect>COLUMNS COLUMNS</a>
                         <a href="#" class="list-group-item waves-light text-success d-flex justify-content-center" style="background:rgba(0,0,0,0.5)" mdbWavesEffect>COLUMNS COLUMNS</a>
                       </div>
           
               </div>
           
           <div class="col-4">
                 <div id="myDiv2"></div>
           </div>
         
               
   </div>    
    


      <div id="myDiv"></div>